@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

/* Custom scrollbar para que combine con el diseño de ORVIAN */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #4545454c;
    border-radius: 12px;
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
    background: #5c5c5c4c;
}

/* resources/css/app.css */
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* Para la barra de progreso ultra suave */
.progress-smooth {
    transition: width 1s linear;
}

@font-face {
    font-family: 'Etna';
    src: url('/assets/fonts/etna-free-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Mejora la carga */
}